* {
    outline: none;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    width: 100%;
    padding: 5px 15px;
    display: flex;
    background-color: rgb(231, 0, 0);
    color: #FFF;
    align-items: center;
}

header .logo-container,
header .header-options {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .logo-container a {
    color: #FFF;
    text-decoration: none;
}

header .header-content {
    flex: 1;
}
