* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-size: 14px;
    font-family: "Roboto", serif;
}

a {
    color: rgb(217, 0, 0);
    font-weight: 500;
}

a:hover {
    text-decoration: underline;
}


.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none !important;
}


.btn-primary {
    background-color: rgb(231, 0, 0);
    color: #FFF;
}

.btn-primary:hover {
    background-color: rgb(175, 0, 0);
    transition: background-color .2s ease;
}

.btn-secondary {
    background-color: #FFF;
    color: rgb(231, 0, 0);
}

.btn-secondary:hover {
    background-color: rgb(255, 202, 202);
    color: rgb(231, 0, 0);
    transition: background-color .2s ease;
}

[disabled] {
    opacity: 0.5;
    pointer-events: none;
}
